<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net452" />
  <package id="Wpf.Themes.ExpressionDark" version="1.1.0" targetFramework="net452" />
  <package id="XSystem" version="1.0.0" targetFramework="net452" />
  <package id="XTreeListView" version="1.0.1" targetFramework="net452" />
</packages>